SESSION_ID="levanter_235a1f51508fc74e30ad1ba893d45f6f2d"
OWNER_NUMBER:"237671008373"
OWNER_NAME:"Mr Green"
VPS="true"
AUTO_UPDATE="true"
BOT_LANG="fr"
STICKER_PACKNAME=LyFE
ALWAYS_ONLINE=false
RMBG_KEY=null
LANGUAG=fr
WARN_LIMIT=3
FORCE_LOGOUT=false
BRAINSHOP=159501,6pq8dPiYt7PdqHz3
MAX_UPLOAD=200
REJECT_CALL=false
SUDO=989876543210
TZ=Asia/Kolkata
VPS=true
AUTO_STATUS_VIEW=true
SEND_READ=true
AJOIN=true
DISABLE_START_MESSAGE=false
PERSONAL_MESSAGE=null
